<template>
  <div class="home">
    <div v-for="task in tasks" :key="task.id">
      <h2>
        <router-link :to="`/task/${task.id}`" > {{task.name}}</router-link>
      </h2>
    </div>
    <div v-if="tasks.length===0">
      <h2>Задач не найдено</h2>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { mapGetters } from "vuex";
import { Task } from "@/types/storeType";

export default defineComponent({
  name: 'HomeView',
  data: function () {
    return {
      tasks: [] as Task[],
    }
  },
  components: {

  },
  methods: {
    ...mapGetters(['getAllTasks'])
  },
  mounted() {
    this.tasks = this.getAllTasks();
  }
});
</script>
